@import url(http://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
  background:  url(trippycat.gif) no-repeat center center fixed; 
  background-size: cover;
}
h1{
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(200,100,100, 0.5);
}
body {
    height: 100%;
}

